@import "../../sass/mixins";
@import "../../sass/variables";

.container{
  @include flex-col-start-center;
  background-color: $authBackColor;
  width: 100%;
  height: 100%;
  font-family: Gotham SSm A, Gotham SSm B, Halvetica, sans-serif;
  &__subcontainer{
    @include flex-col-center-center;
    width: 100%;
    max-width: 600px;
    margin-top: 80px;&:hover{
    color: white;
    text-decoration: none;
  }
  }
  &__header{
    @include flex-row-around-center;
    width: 100%;
    padding-top: 50px;
  }
  &__info{
    color: white;
    font-weight: 600;
    letter-spacing: 0;
    font-size: 38px;
    margin-bottom: 18px;
  }
  &__subinfo{
    color: white;
    font-weight: 500;
    letter-spacing: 0;
    font-size: 18px;
    margin: 0 auto 18px;
    max-width: 405px;
    text-align: center;
    line-height: 25px;
  }
}

.link{
  @include linkButton;
  &:hover{
    color: white;
    text-decoration: none;
  }
}
