@mixin flex-row-center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-start-center{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-row-start-start{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-row-end-center{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-row-between-center{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-row-around-center{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-col-center-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-col-start-center{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-col-center-start{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-col-around-start{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

@mixin flex-col-start-start{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin linkButton{
  padding: 10px 15px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-family: Gotham SSm A,Gotham SSm B,Halvetica,sans-serif;
  font-size: 18px;
  font-weight: 600;
}
