$authBackColor: #3ea9f5;
$inputColor: #636363;
$fbBackColor: #2D4373;
$googleBackColor: #DD4B39;
$loginBackColor: #28D2D0;
$lightGreenTheme: #28D2D1;
$formBackGround: #F8F8F8;
$headerColor: #495d8b;
$headerHoveredColor: #ef9343;
$borderColor: #EBEBEB;
$blueTheme: #455A89;
$announcementColor: #E7BB9E;
$headerTopMenuColor: #718888;
$cardBackground: #f5f5f5;
$cardColor: #333333;
$formLabelColor: #585859;
$backButtonBackground: #888888;
$nextButtonBackground: #F3875D;
$profileBackground: #455A89;
$snapshotBackground: #F9FAFB;
$snapshotHeadColor: #465A89;
$snapshotDarkColor: #4c4e4c;
