@import "../../sass/mixins";
@import "../../sass/variables";

.topHeader{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid $borderColor;
}

.topHeaderElement{
  @include flex-row-start-center;
  height: 100%;
  border-left: 1px solid $borderColor;
  margin-left: 15px;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  color: $headerTopMenuColor;
  &__bordered{
    padding: 0 15px;
    border-right: 1px solid $borderColor;
  }
  li{
    padding: 0 15px;
    list-style: none;
    cursor: pointer;
    @include flex-row-start-center;
    div{
      @include flex-row-between-center;
      p{
        font-size: 13.5px;
      }
      i{
        margin-left: 5px;
      }
    }
    a{
      color: $headerTopMenuColor;
      text-decoration: none;
      font-size: 16px;
    }
  }
}

.fullHeight{
  height: 100%;
}

.image{
  height: 40px;
}

.botHeader{
  width: 100%;
  height: 75px;
  i{
    color: $borderColor;
  }
}

.announcement{
  background-color: $blueTheme;
  text-align: center;
  height: 30px;
  font-family: Verdana;
  font-size: 13px;
  line-height: normal;
  color: white;
  @include flex-row-center-center;
  a{
    color: $announcementColor;
  }
}

.logo{
  max-height: 53px;
}

.link{
  font-family: Raleway, sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: $headerColor;
  padding: 0 5px 0 30px;
  &:hover{
    color: $headerHoveredColor;
    text-decoration: none;
  }
}

.headerButton{
  background-color: transparent;
  border-radius: 0;
  border-width: 0;
  color: $headerTopMenuColor;
  &:hover{
    background-color: transparent;
    color: $headerTopMenuColor;
  }
}

.headerMenu{
  a{
    text-decoration: none;
    color: $cardColor;
    &:hover{
      color: $cardColor;
      text-decoration: none;
    }
  }
}
